# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>

In [371]:
DATA_FOLDER = './Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
sns.set_context('notebook')

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

There are several peculiarities in the data that we have to deal with.

* Each country's dataset has its own names for the rows relevant to our work. There are even differences in row titles for the same country (e.g. one file in Guinea has three rows that other Guinea files do not).


* Our data has a lot of holes, including the absence of a lot of days, and even then the absence of certain information for many of the existing days. New case numbers do not add up to the changes in cumulative numbers; therefore our approach has to take into account the differences between cumulative values. However, there are missing values in the cumulative numbers as well (e.g. for Guinea, on Sept. 30, there is no 'suspected deaths' value).


* Certain files contain partially duplicated information. One of the Liberia files, for example, has all types of rows (i.e. Date+Description) twice, but with different numbers for the other values. Since we only want one of them, we have chosen to keep the last occurrence of those duplicated rows.


* The total (national) values frequently happen to be **unequal** to the sum of the province by province values - sometimes by a huge margin. Therefore, we've chosen to sum over the province values and disregard the existing national totals.


Therefore, our approach to solving the problem is as follows:
* We will convert the different names in different countries' data that refer to the same thing (e.g. confirmed cases, probable deaths, etc.) to a common value.


* Due to the missing values issue, our approach to the calculation of the monthly averages is as follows: for each month, we find the maximum value for each of the columns, and we the total value for a month is the maximum value of that month minus the maximum of the previous (which is then divided by the length of that month to calculate the average). For months not preceded by another, we consider their earliest included day to be the first. For months not succeeded by another, we consider their last existing day to be their last actual day (regardless of whether it actually is the last day of the month, or not). In all cases, however, we average over the entire length of the month. To allow the viewer to discern the "credibility" of the values however, we attach a 'days' column to each row that shows the latest day of that month whose data was in our dataset; this way, the reader of the table will know that a month with just 1 in the days column is not to be trusted.


* We will consider new cases and deaths over all three possible statuses and present the sum of all three: confirmed, probable, and suspected. This is as discussed in the lab session.

In [344]:
def get_whole_dataframe(dir_name):
    filenames = [f for f in os.listdir(dir_name) if os.path.isfile(os.path.join(dir_name, f))]
    df = pd.read_csv(os.path.join(dir_name, filenames[0]))
    for i in range(1,len(filenames)):
        df = pd.concat([df, pd.read_csv(os.path.join(dir_name, filenames[i]))], axis = 0)
    return df

def convert_relevant_rows_to_cols(current_df, label_dict):
    current_df['Date'] = pd.to_datetime(current_df['Date'])
    current_df['Description'] = current_df.Description.apply(lambda x: x.lower())
    label_dict = {i.lower():j.lower() for i,j in label_dict.items()}
    current_df['Description'] = current_df.Description.map(label_dict).fillna('irrelevant')
    current_df = current_df[[x in label_dict.values() for x in current_df.Description.values]]
    current_df_dup = current_df.duplicated(subset=['Date', 'Description'], keep='last')
    current_df = current_df[current_df_dup==False].set_index(['Date', 'Description']).\
        unstack('Description').dropna(how='all').drop('National', axis=1)
    current_df = current_df.swaplevel(axis=1).apply(pd.to_numeric).sum(axis=1,level=-2)
    current_df = current_df.reset_index()
    current_df['Month'] = current_df.Date.dt.month
    current_df['Day'] = current_df.Date.dt.day
    current_df = current_df.drop('Date', axis=1)
    #Setting the columns index name (only 1 level) to ''
    current_df.columns.name = ''
    return current_df

labels_dict = {'Total cases of confirmed':'case_confirmed', 
               'Total confirmed cases':'case_confirmed',
               'cum_confirmed':'case_confirmed',
               
               'Total cases of suspects':'case_suspect', 
               'Total suspected cases':'case_suspect',
               'cum_suspected':'case_suspect',
               
               'Total cases of probables':'case_probable',
               'Total probable cases':'case_probable',
               'cum_probable':'case_probable',
               
               'Total deaths of confirmed':'death_confirmed', 
               'Total death/s in confirmed cases':'death_confirmed',
               'death_confirmed':'death_confirmed',
               
               'Total deaths of suspects':'death_suspect', 
               'Total death/s in suspected cases':'death_suspect',
               'death_suspected':'death_suspect',
               
               'Total deaths of probables':'death_probable',
               'Total death/s in probable cases':'death_probable',
               'death_probable':'death_probable'}

labels = list(set(labels_dict.values()))

guinea_df = get_whole_dataframe(DATA_FOLDER+'ebola/guinea_data')
guinea_df = guinea_df.rename(columns={'Totals':'National'})
liberia_df = get_whole_dataframe(DATA_FOLDER+'ebola/liberia_data')
liberia_df = liberia_df.rename(columns={'Variable':'Description'})
sl_df = get_whole_dataframe(DATA_FOLDER+'ebola/sl_data')
sl_df = sl_df.rename(columns={'date':'Date', 'variable':'Description'})

all_dfs = [guinea_df, liberia_df, sl_df]
country_names = ['Guinea','Liberia','Sierra Leone']
new_dfs = []

for current_df in all_dfs:
    current_df = convert_relevant_rows_to_cols(current_df, labels_dict)
    new_dfs.append(current_df)

concated_df = pd.concat(new_dfs, keys=country_names, names=['Country']).reset_index('Country')

As you can see below, in each dataset, the first and last months are only partially included. The worst offender is Month 10 in Guinea, as you can see below. Also note the missing value for deaths of suspected cases at 30.09 and the 0 for the same column at 01.10.

In [345]:
new_dfs[0]

,case_confirmed,case_probable,case_suspect,death_confirmed,death_probable,death_suspect,Month,Day
0,351.0,133.0,11.0,228.0,133.0,2.0,8,4
1,490.0,141.0,30.0,292.0,141.0,2.0,8,26
2,438.0,133.0,22.0,267.0,133.0,2.0,8,27
3,533.0,142.0,32.0,324.0,142.0,2.0,8,30
4,563.0,150.0,36.0,337.0,150.0,2.0,8,31
5,591.0,150.0,49.0,349.0,150.0,2.0,9,2
6,621.0,151.0,51.0,368.0,152.0,3.0,9,4
7,678.0,151.0,32.0,402.0,151.0,4.0,9,7
8,678.0,151.0,32.0,402.0,151.0,4.0,9,8
9,683.0,151.0,33.0,410.0,151.0,4.0,9,9
10,716.0,151.0,32.0,413.0,151.0,4.0,9,11
11,743.0,162.0,31.0,429.0,162.0,4.0,9,14
12,771.0,161.0,32.0,442.0,161.0,5.0,9,16
13,771.0,161.0,32.0,442.0,161.0,5.0,9,17
14,788.0,162.0,24.0,463.0,162.0,5.0,9,19
15,818.0,162.0,28.0,465.0,162.0,5.0,9,21
16,832.0,162.0,28.0,468.0,162.0,5.0,9,22
17,854.0,162.0,32.0,476.0,162.0,5.0,9,23
18,876.0,162.0,36.0,481.0,162.0,5.0,9,24
19,906.0,178.0,32.0,494.0,169.0,5.0,9,26
20,961.0,175.0,33.0,539.0,175.0,NaN,9,30
21,977.0,177.0,45.0,562.0,177.0,0.0,10,1

And here we have Liberia, with NO cumulative death information and only day by day info. This dataset is taking the "the raw data might be very dirty" concept a bit too far.

In [346]:
(new_dfs[1])[new_dfs[1].Month==11]

,case_confirmed,case_probable,case_suspect,death_confirmed,death_probable,death_suspect,Month,Day
67,2456.0,1623.0,2445.0,NaN,NaN,NaN,11,2
68,2766.0,2514.0,1629.0,NaN,NaN,NaN,11,4
69,2553.0,1687.0,2582.0,NaN,NaN,NaN,11,8
70,2642.0,1757.0,2661.0,NaN,NaN,NaN,11,14
71,2643.0,1762.0,2664.0,NaN,NaN,NaN,11,15
72,2717.0,1740.0,2650.0,NaN,NaN,NaN,11,19
73,NaN,NaN,2683.0,NaN,NaN,NaN,11,20
74,2726.0,1753.0,2686.0,NaN,NaN,NaN,11,21
75,2738.0,1770.0,2688.0,NaN,NaN,NaN,11,23
76,2753.0,1771.0,2720.0,NaN,NaN,NaN,11,24
77,2758.0,1778.0,2742.0,NaN,NaN,NaN,11,26
78,2758.0,1778.0,2742.0,NaN,NaN,NaN,11,27
79,2801.0,1792.0,3042.0,NaN,NaN,NaN,11,28
80,2805.0,1792.0,3053.0,NaN,NaN,NaN,11,29
81,2779.0,1755.0,3018.0,NaN,NaN,NaN,11,30

At least the Sierra Leone dataset is as all right as it gets in this mess of a dataset. (Plot twist: Later on, we find out that one of its months actually gets a negative mean value, even after all the tweaks we've done).

In [347]:
new_dfs[2]

,case_confirmed,case_probable,case_suspect,death_confirmed,death_probable,death_suspect,Month,Day
0,717.0,37.0,46.0,264.0,34.0,5.0,8,12
1,733.0,38.0,39.0,273.0,34.0,5.0,8,13
2,747.0,39.0,37.0,280.0,34.0,5.0,8,14
3,757.0,37.0,42.0,287.0,34.0,5.0,8,15
4,775.0,34.0,39.0,297.0,34.0,5.0,8,16
5,778.0,37.0,35.0,305.0,34.0,5.0,8,17
6,783.0,52.0,72.0,312.0,34.0,5.0,8,18
7,804.0,40.0,66.0,320.0,34.0,5.0,8,19
8,813.0,37.0,52.0,322.0,34.0,5.0,8,20
9,823.0,38.0,52.0,329.0,34.0,8.0,8,21
10,881.0,36.0,49.0,333.0,34.0,8.0,8,22
11,904.0,37.0,53.0,336.0,37.0,8.0,8,23
12,935.0,37.0,53.0,341.0,37.0,8.0,8,24
13,955.0,37.0,58.0,355.0,37.0,8.0,8,25
14,961.0,37.0,59.0,363.0,37.0,11.0,8,26
15,988.0,37.0,62.0,372.0,37.0,11.0,8,27
16,1018.0,37.0,62.0,377.0,37.0,11.0,8,28
17,1033.0,37.0,70.0,383.0,37.0,11.0,8,29
18,1077.0,37.0,76.0,387.0,37.0,11.0,8,30
19,1077.0,37.0,76.0,387.0,37.0,11.0,8,31
20,1115.0,37.0,74.0,396.0,37.0,11.0,9,1
21,1146.0,37.0,78.0,399.0,37.0,11.0,9,2
22,1174.0,37.0,81.0,404.0,37.0,11.0,9,3
23,1234.0,37.0,90.0,413.0,37.0,11.0,9,5
24,1276.0,37.0,96.0,426.0,37.0,11.0,9,6
25,1287.0,37.0,100.0,428.0,37.0,11.0,9,7
26,1305.0,37.0,101.0,433.0,37.0,11.0,9,8
27,1341.0,37.0,100.0,436.0,37.0,11.0,9,9
28,1367.0,37.0,105.0,445.0,37.0,11.0,9,10
29,1401.0,37.0,113.0,450.0,37.0,11.0,9,11
...,...,...,...,...,...,...,...,...
71,3560.0,82.0,488.0,1037.0,211.0,135.0,10,25
72,3622.0,79.0,499.0,1044.0,208.0,135.0,10,26
73,3713.0,84.0,533.0,1049.0,213.0,157.0,10,27
74,3760.0,79.0,553.0,1057.0,208.0,157.0,10,28
75,3841.0,79.0,567.0,1064.0,208.0,157.0,10,30
76,3936.0,79.0,596.0,1070.0,208.0,157.0,10,31
77,3996.0,79.0,611.0,1077.0,208.0,157.0,11,1
78,4057.0,79.0,623.0,1085.0,208.0,157.0,11,2
79,4232.0,79.0,651.0,1114.0,208.0,157.0,11,6
80,4277.0,79.0,663.0,1126.0,208.0,157.0,11,7
81,4433.0,79.0,710.0,1133.0,208.0,157.0,11,8
82,4617.0,79.0,798.0,1149.0,208.0,157.0,11,10
83,4744.0,79.0,859.0,1169.0,208.0,197.0,11,12
84,4828.0,NaN,NaN,NaN,NaN,NaN,11,13
85,4967.0,NaN,NaN,NaN,NaN,NaN,11,15
86,5056.0,NaN,NaN,NaN,NaN,NaN,11,16
87,5109.0,NaN,NaN,NaN,NaN,NaN,11,17
88,5152.0,NaN,NaN,NaN,NaN,NaN,11,18
89,5304.0,79.0,1008.0,1282.0,208.0,158.0,11,20
90,5355.0,79.0,1026.0,1303.0,208.0,158.0,11,21
91,5402.0,79.0,1054.0,1333.0,208.0,158.0,11,22
92,5441.0,79.0,1079.0,1364.0,208.0,158.0,11,23
93,5524.0,79.0,1111.0,1397.0,208.0,158.0,11,24
94,5767.0,79.0,1175.0,2962.0,208.0,158.0,11,28
95,5831.0,79.0,1199.0,1496.0,208.0,158.0,11,29
96,5978.0,79.0,1255.0,1549.0,208.0,158.0,12,1
97,6238.0,79.0,1359.0,1648.0,208.0,158.0,12,4
98,6292.0,79.0,1383.0,1669.0,208.0,158.0,12,5
99,5755.0,79.0,1402.0,1708.0,208.0,158.0,12,6
100,6638.0,79.0,1556.0,NaN,NaN,NaN,12,13

Now, given what we have learned about the data, we will first calculate our desired values using the method described earlier (maximum of month minus maximum of previous), and then we will separately deal with Liberian deaths and add that information to our final DataFrame.

In [348]:
#Maximum of each column for each Country-Month.

month_max_df = concated_df.groupby(['Country', 'Month'])[labels[0]].max().reset_index()
for i in range(1, len(labels)):
    current_max_df = concated_df.groupby(['Country', 'Month'])[labels[i]].max().reset_index()
    month_max_df = month_max_df.merge(current_max_df, left_on = ['Country', 'Month'], right_on = ['Country', 'Month'])

#Row of the first day of each month
first_day_df = concated_df.groupby(['Country', 'Month'])[['Day']].min().reset_index().merge(concated_df).drop('Day', axis=1)
prev_month_max_df = month_max_df.copy()
prev_month_max_df['Month'] = prev_month_max_df['Month']+1
first_months = concated_df.groupby(['Country'])[['Month']].min().reset_index().merge(first_day_df)
prev_month_max_df = pd.concat([prev_month_max_df, first_months], axis = 0)
#Only the day number of the last day of each month that we have available in our dataset.
last_day_number_df = concated_df.groupby(['Country', 'Month'])[['Day']].max().reset_index()

Below, we aggregate over the columns for different statuses (i.e. confirmed, probable, suspected) and then take the mean. The results show that we're mostly fine, aside from deaths of month 12 for Sierra Leone, which turns out to be negative because of a fault in the data: the cumulative data wasn't really cumulative after all.

In [366]:
def aggregate_case_and_death(df):
    df['death'] = df['death_confirmed']+df['death_probable']+df['death_suspect']
    df = df.drop(['death_confirmed', 'death_probable', 'death_suspect'], axis=1)
    df['case'] = df['case_confirmed']+df['case_probable']+df['case_suspect']
    df = df.drop(['case_confirmed', 'case_probable', 'case_suspect'], axis=1)
    return df

def calculate_diff(df, col_name):
    df['mean_'+col_name] = (df[col_name+'_y'] - df[col_name+'_x'])/df['Month'].apply(lambda x: (datetime.date(2014,x,1)-datetime.date(2014,(x-1)%12,1)).days)
    df = df.drop([col_name+'_y', col_name+'_x'], axis=1)
    return df
    

prev_current_pair_df = aggregate_case_and_death(prev_month_max_df).merge(aggregate_case_and_death(month_max_df), left_on=['Country', 'Month'], right_on=['Country', 'Month'])
mean_df = prev_current_pair_df.copy()
mean_df = calculate_diff(mean_df, 'case')
mean_df = calculate_diff(mean_df, 'death')
mean_df = mean_df.sort_values(['Country', 'Month'])
mean_df = mean_df.merge(last_day_number_df)

Now we will go back to Liberia (no pun intended) and calculate the mean number of new deaths there for all months. As you can see below, there is no value for month 12.

In [367]:
liberia_label_dict = {'Newly reported deaths':'new_death'}
liberia_new = get_whole_dataframe(DATA_FOLDER+'ebola/liberia_data')
liberia_new = liberia_new.rename(columns={'Variable':'Description'})
liberia_new = convert_relevant_rows_to_cols(liberia_new, liberia_label_dict)
liberia_new = liberia_new.groupby(['Month'])[['new_death']].sum().reset_index()
liberia_new['Country'] = 'Liberia'
liberia_new['new_death'] = liberia_new['new_death']/liberia_new['Month'].apply(lambda x: (datetime.date(2014,x,1)-datetime.date(2014,(x-1)%12,1)).days)
liberia_new

   Month  new_death  Country
0      6   0.419355  Liberia
1      7   1.566667  Liberia
2      8   6.741935  Liberia
3      9  27.903226  Liberia
4     10  23.433333  Liberia
5     11   6.612903  Liberia

Incorporating the new information into our result dataframe:

In [368]:
mean_df = mean_df.set_index(['Country', 'Month'])
#mean_df.merge(liberia_new).set_index(['Country', 'Month'])
mean_df.loc['Liberia', 'mean_death'] = liberia_new.set_index(['Country', 'Month'])['new_death']
mean_df = mean_df.reset_index()
mean_df

         Country  Month   mean_case  mean_death  Day
0         Guinea      8    8.193548    4.064516   31
1         Guinea      9   14.225806    7.419355   30
2         Guinea     10    0.300000    0.666667    1
3        Liberia      6    2.193548    0.419355   29
4        Liberia      7    7.233333    1.566667   26
5        Liberia      8   41.129032    6.741935   28
6        Liberia      9   72.387097   27.903226   30
7        Liberia     10   97.833333   23.433333   31
8        Liberia     11   51.967742    6.612903   30
9        Liberia     12  -21.866667         NaN    3
10  Sierra Leone      8   13.064516    4.258065   31
11  Sierra Leone      9   39.677419    4.516129   30
12  Sierra Leone     10  115.833333   43.066667   31
13  Sierra Leone     11   38.677419   48.387097   29
14  Sierra Leone     12   38.800000  -43.100000   13

To wrap things up, we will calculate one final DataFrame: the mean number of cases using daily new cases.

In [369]:
new_cases_labels = {
    'new_suspected':'new_suspect',
    'new_probable':'new_probable',
    'new_confirmed':'new_confirmed',
    'New Case/s (Suspected)':'new_suspect',
    'New Case/s (Probable)':'new_probable',
    'New case/s (confirmed)':'new_confirmed',
    'New cases of suspects':'new_suspect',
    'New cases of probables':'new_probable',
    'New cases of confirmed':'new_confirmed'
}

guinea_df = get_whole_dataframe(DATA_FOLDER+'ebola/guinea_data')
guinea_df = guinea_df.rename(columns={'Totals':'National'})
liberia_df = get_whole_dataframe(DATA_FOLDER+'ebola/liberia_data')
liberia_df = liberia_df.rename(columns={'Variable':'Description'})
sl_df = get_whole_dataframe(DATA_FOLDER+'ebola/sl_data')
sl_df = sl_df.rename(columns={'date':'Date', 'variable':'Description'})

all_dfs = [guinea_df, liberia_df, sl_df]
country_names = ['Guinea','Liberia','Sierra Leone']
new_dfs = []

for current_df in all_dfs:
    current_df = convert_relevant_rows_to_cols(current_df, new_cases_labels).fillna(0)
    new_dfs.append(current_df)

new_concated_df = pd.concat(new_dfs, keys=country_names, names=['Country']).reset_index('Country')
new_mean_cases_df = pd.DataFrame(new_concated_df.groupby(['Country', 'Month'])['new_confirmed', 'new_suspect', 'new_probable'].\
                                 sum().sum(axis=1), columns=['mean_cases']).reset_index()
new_mean_cases_df['mean_cases'] = new_mean_cases_df['mean_cases']/new_mean_cases_df['Month'].\
            apply(lambda x: (datetime.date(2014,x,1)-datetime.date(2014,(x-1)%12,1)).days)
new_mean_cases_df

         Country  Month   mean_cases
0         Guinea      8     4.161290
1         Guinea      9     9.967742
2         Guinea     10     1.133333
3        Liberia      6     1.290323
4        Liberia      7     3.133333
5        Liberia      8    10.806452
6        Liberia      9    49.419355
7        Liberia     10    38.433333
8        Liberia     11    15.161290
9        Liberia     12  1525.366667
10  Sierra Leone      8    17.193548
11  Sierra Leone      9    40.064516
12  Sierra Leone     10    67.133333
13  Sierra Leone     11    53.225806
14  Sierra Leone     12     6.833333

As you can see, Liberia's month 12 is still quite problematic. Therefore, we'll stop struggling and simply present the already existing, and tweaked mean_df DataFrame as our final result:

In [370]:
mean_df

         Country  Month   mean_case  mean_death  Day
0         Guinea      8    8.193548    4.064516   31
1         Guinea      9   14.225806    7.419355   30
2         Guinea     10    0.300000    0.666667    1
3        Liberia      6    2.193548    0.419355   29
4        Liberia      7    7.233333    1.566667   26
5        Liberia      8   41.129032    6.741935   28
6        Liberia      9   72.387097   27.903226   30
7        Liberia     10   97.833333   23.433333   31
8        Liberia     11   51.967742    6.612903   30
9        Liberia     12  -21.866667         NaN    3
10  Sierra Leone      8   13.064516    4.258065   31
11  Sierra Leone      9   39.677419    4.516129   30
12  Sierra Leone     10  115.833333   43.066667   31
13  Sierra Leone     11   38.677419   48.387097   29
14  Sierra Leone     12   38.800000  -43.100000   13